@charset "UTF-8";
body{
    font-family: 'Trebuchet MS';   
}

h1{
    color: #333;
    font-size: 22px;
}

h2{
    color: #333;
    font-size: 18px;
}

p{
    color: #666;
    line-height: 120%;
}

aside p{
    color: #999;
    font-style: italic;
}

main{
    max-width: 980px;
    width: 100%;
    height: auto;
    margin: auto;
}

header{
    width: 100%;
    height: auto;
    float: left;
}

#logo{
    width: 204px;
    height: 84px;
    margin: auto;
}

#menu{
    width: 100%;
    height: 40px;
    background-color: #111;
    float: right;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 2px;
    text-align: center;
    line-height: 40px;
}

#menu a{
    display: inline-block;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    margin: 0 25px;
}

#menu a:hover{
    text-decoration: underline;
}

#banner{
    width: 100%;
    height: auto;
    float: left;
}

#banner img{
    width: 100%;

}

#conteudo{
    width: 60%;
    height: auto;
    float: left;
}

#coluna{
    width: 35%;
    height: right;

}

footer{
    width: 100%;
    height: 30px;
    float: left;
    background-color: #DBC0AD;
    color: #333;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}