* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-de-fundo: rgb(231, 134, 7);
    --cor-secundaria: rgb(255, 255, 255);
    --cor-azul: rgb(0,0,255);
    --cor-preto: rgb(0, 0, 0);
    --cor-laranja-claro: rgb(255, 235, 205);
}

body{
    font-family: Roboto, sans-serif;
    width: 1024px;
    margin: auto;
    background-color: var(--cor-de-fundo);
}

main{
    position: relative;
    background-color: var(--cor-secundaria);
    text-align: justify;
    /* margin: 20px; */
    padding: 20px;
    
    
}

/* main h1{ */
/*
 # = id 
 . = class
*/
.diferenciado {
    font-family: Roboto, sans-serif;
    font-size: 60px;
    margin:0;
    text-transform: uppercase;
    /* Isto é um comentário em CSS*/
    color: rgb(0, 0, 255);
    /* color: rgb(0, 0, 255, 0.5); */
    /* color: #0000FF; hexadecimal */
}

.vermelho{
    color: red;
}

#nomeCliente{
    font-size: 20px;
    font-size: 18px;
    text-align: center;

}

h2 {
    font-size: 40px;
}

li{
    background-color: blue;
    list-style-type: none;
    display: block;
    padding: 10px;
}

li a {
    display: block;
    color: rgb(233, 221, 221);
    padding: 10px;
    text-decoration: none;
    text-transform: bold;
    text-align: center;
}

footer{
    height: 50px;
    line-height: 50px;
    background-color: black;
    color: blanchedalmond;
    clear: both;/*left right both*/
}

aside {
    width: 18%;
    margin: auto;
    position: relative;
    top: 20px;
    right: 20px;
    clear: right;
    /* background-color: var(--cor-secundaria) */
}
blockquote{
    padding: 10px;
    float: left;
    width: 30%;
    background-color: rgb(206, 202, 202);
    border: 10px solid #7a7a7a;
    display: block;
    margin: 0% 5%;

}
.divisaocoluna{
    float: left;
    width: 40%;
}
cite{
    display: block;
    margin: 15px 5px 3px 0;
    line-height: 20px;
    text-align: right;
}
aside, figure {
    float: right;
    background-color: #7a7a7a;
    color: var(--cor-secundaria);
    border: 5px solid var(--cor-preto);    
}
figure{
    width: 19.2%;
    position: absolute;
    top: 20px;
    right: 30px;
}
.limpafloat{
    clear: both;
}
nav li a:hover{
    display: block;
    background-color: var(--cor-de-fundo);
    transition: .7s;
    
    
}