@charset "UTF-8";

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --cor-de-fundo:(235,121,29);
    --cor-secundaria:(49,49,124);
}
main h1{
    font-family: roboto, sans-serif;
    font-size: 60px;
    margin: 0px;
    color: rgb(49, 49, 124)
    
}
body{
    font-family: roboto, sans-serif;
    background-color: rgb(235, 121, 29);
    width: 960px;
    margin: auto;
    text-align: justify
    
}
main{
    padding: 20px;
    background-color: rgb(255, 255, 255)   
    
}
h2{
    font-size: 40px;
}
li{
    width: 190px;
    background-color:rgb(0, 0, 0);
    list-style-type: none;
    display: block;
    padding: 10px
    
    
}
li a{
    color: white;
    padding: 10px;   
    line-height: 2px;  

}
footer{
    height: 50px;
    
}
aside{
    float: left;
    width: 15%;
}
