*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: sans-serifa, Verdana, Geneva, Tahoma, sans-serif;
}

main{
    height: 300vh;
    margin-top: 50px;
}

h1{
    position: fixed;
    top: 10px;
}

h2{
    margin-top: 100px;
}

.pai{
    width: 400px;
    height: 400px;
    background-color: blue;
    position: relative;
}

.filho{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: green;
}